/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
  width:100%;
  margin: 0 auto;
}

/*home*/
header{
  height:100px;
}

  header h1{
      padding-top: 12px;
      font-size: 40px;
      margin:0 20px;
  }

  header p{
    font-size: 20px;
    margin: 0 20px;
  }

  header{
          position: fixed;
          width: 100%;
          background-color: #fff;
          z-index: 999;
          padding-bottom: 10px;
      }

      .menuitem a{
        color:white;
      }
  header #menubtn {
        position: absolute;
        display:block;
        width:30px;
        height:13px;
        top:18px;
        right:5%;
        transform: translate(-10%, 0);
        box-sizing:content-box !important;
        padding:10px;
        z-index:111;
    }
    header #menubtn,
    header #menubtn span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    header #menubtn span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #222222;
    }
    header #menubtn span:nth-of-type(1) {
        top: 6px;
    }
    header #menubtn span:nth-of-type(2) {
        top: 15px;
    }
    header #menubtn span:nth-of-type(3) {
        bottom: 6px;
    }

    header #menubtn.active span:nth-of-type(1) {
        -webkit-transform: translateY(9px) rotate(-45deg);
        transform: translateY(9px) rotate(-45deg);
        background-color: #fff;
    }

    header #menubtn.active span:nth-of-type(2) {
        opacity: 0;
        background-color: #fff;
    }

    header #menubtn.active span:nth-of-type(3) {
        -webkit-transform: translateY(-9px) rotate(45deg);
        transform: translateY(-9px) rotate(45deg);
        background-color: #fff;
    }

    header nav{
        margin: 0;
        width: 100%;
        position: fixed;
        top: -10px;
        left: 0;
        background: rgba(0,0,0,0.85);
        z-index: 10;
        padding: 0;
        box-sizing: border-box;
        transition: all 0.8s ease;
        max-height: 0;
        overflow: hidden;
    }
    header nav.active{
        max-height: 600px;
        padding: 100px 0 0px;
        margin-top: -90px;
    }
    header nav #headernav{
        padding: 40px 0px 20px;
        text-align: center;
    }
    header .header-top ul{
        text-align: center;
        padding: 0px 0px 40px;
    }
    header nav ul li{
        height: 40px;
    }

    .menuitem a{
      font-size: 30px;
    }

  /*about*/
.about{
  background-color: #EEEEEE;
  padding-bottom: 100px;
}

.about h1{
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

.about_contents_img{
  margin: 0 20px;
}

.about_contents_img img{
  width: 100%;
  border-radius: 5px;
}

.about_visual_contents h2{
  font-size: 1.5rem;
  margin-top: 40px;
  padding-top: 50px;
  margin-bottom: 20px;
  margin: 0 20px;
}

.about_visual_contents p{
  line-height: 30px;
  padding-top: 20px;
  margin: 0 20px;
}

/*work*/
.work{
  padding-bottom: 100px;
}

.work h1{
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 10px;
}

.work_text{
  text-align: center;
  padding-bottom: 100px;
}

.work_visual_contents{
  margin: 0 20px;
}

.work_contents_img img{
  width:100%;
  padding-top: 40px;
  box-shadow: 0 0 8px gray;
}

.work_visual_contents p{
  text-align: center;
  color:black;
  padding-top: 10px;
}

.detail{
  padding-bottom: 100px;
}

/*contact*/

.contact{
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #EEEEEE;
}
.contact h1{
  font-size: 40px;
  padding-bottom: 10px;
}

.contact p{
  padding-bottom: 100px;
}

iframe{
  width:400px;
}

footer{
  height:100px;
}

.footer_contents{
  line-height: 100px;
  text-align: center;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

@media(min-width:1000px){

  /*about*/
  .about_contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:100px;
  }


  .about_contents_img img{
    width:400px;
    margin-left: 150px;
  }

  /*work*/
  .work_contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    gap:10px;
  }


  iframe{
    width:600px;
  }



}
