/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
  width:100%;
  margin: 0 auto;
}

/*home*/
#home header{
  text-align: center;
  height:80px;
  position: fixed;
  background-color: black;
  width:100%;

}

.home_contents{
  height:100vh;
  text-align: center;
  padding-top: 350px;
}

.home_contents h1{
  color:white;
  font-size: 40px;

}

.home_contents p{
  color:white;
  font-size: 1.5rem;
  padding-top: 5px;
}


header nav ul li{
  display: inline-block;
  line-height: 80px;
  padding-left: 30px;
  padding-right: 30px;
}
header nav ul li a{
  color:white;
  font-size: 1.2rem;
}

header nav ul li a:hover{
  border-bottom: 1px solid white;
}


#home{
  background-color: black;
}

/*about*/
.about{
  background-image: url(image/beiz1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
}


.about_visual_contents{
  text-align: center;

}

.about_contents_img{
  text-align: center;
}
.about_contents_img img{
  width:60%;
  border-radius: 50%;
  margin-top: 100px;
}

.about_visual_contents h1{
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
  color:white;
}
.about_visual_contents p{
  line-height: 30px;
  color:white;

}

/*work*/
.work{
  background-color: #EEEEEE;
  padding-bottom: 50px;
}

.work h1{
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 10px;
}

.work_text{
  text-align: center;
  padding-bottom: 100px;
}

.work_contents_img{
  text-align: center;
}

.work_contents_img img{
  width:200px;
  padding-top: 40px;
}

.work_visual_contents p{
  text-align: center;
  color:black;
  padding-top: 10px;
}

.contact{
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #EEEEEE;
}
.contact h1{
  font-size: 40px;
  padding-bottom: 10px;
}

.contact p{
  padding-bottom: 100px;
}

iframe{
  width:400px;
}

footer{
  height:100px;
  background-color: black;
}

.footer_contents{
  color:white;
  line-height: 100px;
  text-align: center;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}
/*タブレット版*/
@media(min-width:768px){
  header nav ul li{
    padding-left: 80px;
    padding-right: 80px;
  }
  /*about*/

  .about_contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
  }

  .about_contents_img img{
    width:300px;
  }

  .about_visual_contents{
    margin-top: 100px;
    text-align: left;
  }

  /*work*/
  .work_contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  iframe{
    width:600px;
  }

}


@media(min-width:1200px){
  header nav ul li{
    padding-left: 120px;
    padding-right: 120px;
  }
  iframe{
    width:800px;
  }



}
